<div flow-init="{
		   singleFile: true, 
			 target:'/api/fileuploads', 
			 testChunks: false,
			 generateUniqueIdentifier: getUniqueId
		 }"
		 flow-file-added="fileUploading=true"
		 flow-files-submitted="$flow.upload()"
		 ng-controller="MemorialCtrl">

	<div ng-include="'components/navbar/navbar.html'"></div>

	<div class="container contents" flow-prevent-drop>	
		<form role="form">
			<div class="form-group">
				
					<img flow-img="$flow.files[0]" style="width:200px;height:200px;"/>
					<button class="btn btn-success" flow-btn flow-attrs="{accept:'image/*'}">Upload</button>
				
			</div>
		  <div class="form-group">
		    <label for="memorial_name">이름</label>
		    <input type="text" class="form-control" id="memorial_name" placeholder="이름을 입력하세요" ng-model="new_memorial_form.name" ng-required="true">
		  </div>
		  	<p class="input-group">
			    <input type="text" class="form-control" placeholder="태어나신 날을 입력하세요" is-open="date_of_birth_opened" datepicker-popup="yyyy-MM-dd"
			    ng-required="true" ng-model="new_memorial_form.date_of_birth"/>
	        <span class="input-group-btn">
	          <button type="button" class="btn btn-default" ng-click="open_datepicker($event,'date_of_birth_opened')"><i class="glyphicon glyphicon-calendar"></i></button>
	        </span>
	      </p>

	      <p class="input-group">
			    <input type="text" class="form-control" placeholder="돌아가신 날을 입력하세요" is-open="date_of_death_opened" datepicker-popup="yyyy-MM-dd"
			    ng-required="true" ng-model="new_memorial_form.date_of_death"/>
	        <span class="input-group-btn">
	          <button type="button" class="btn btn-default" ng-click="open_datepicker($event,'date_of_death_opened')"><i class="glyphicon glyphicon-calendar"></i></button>
	        </span>
	      </p>
		  <button type="submit" class="btn btn-default" ng-click="create_memorial()" ng-disabled="fileUploading">Submit</button>
		</form>
	</div>

</div>	