$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*
    .container {
        max-width: 730px;
    }
    */
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'imported.scss';
@import 'main/main.scss';
@import 'memorial/memorial.scss';
@import 'memorial/story/story.scss';
@import 'memorial/storyline/storyline.scss';
@import 'memorial/timeline/timeline.scss';
@import 'mydoresol/mydoresol.scss';
@import 'navbar/navbar.scss';
// endinjector