/* content below navbar */
.container {
    width:100%;
}

.contents {
    padding-top:100px;
}

/* Video */

#intro_video { 
    /* min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;*/
     width: 100%    !important;
     height: auto   !important;
     display:inline;
     z-index: -1000;
     overflow: hidden;
     margin-top:-20px;
}

#intro_video_control{
    position: relative;
    top: -50px;
    color: white;
    text-align: right;
    padding-right: 5px;
}

/*@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
font-family:'Nanum Brush Script', sans-serif;*/

@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.signup-overlay{
    font-family: 'Nanum Myeongjo', sans-serif;
    position:absolute;
    top:0px;
    left:0px;
    height: 577px;
    text-align: center;
    color: #fff;
    width:100%;
}

#intro_create_overlay{
    font-family: 'Nanum Myeongjo', sans-serif;
    height: 577px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;

    .login-block{
        padding-top:100px;
    }
    
    .intro_create_title{
        margin: auto;
        padding-top: 250px;
        font-size: 7.2rem;
        font-weight: 300;
        line-height: 9rem;
    }

    .intro_create_sub_title{
        margin: 17px auto;
        width: 680px;
        line-height: 3.6rem;
        font-size: 3rem;
        font-weight: 300;
    }    
}

/* video small device */
@media screen and (max-width: 900px) {
    /* video */
    #intro_video{
        margin-top:24px;
    }

    /* create */
    #intro_create_overlay{
        position: relative;
        height:100%;
        top: -50px;
        background-color: #1bbae1;
        padding-bottom:30px;
        .intro_create_title{
            padding-top: 10px;
            font-size: 3rem;
        }

        .intro_create_sub_title{
            width: 100%;
            font-size: 2rem;
            margin:0px;
        }

        .intro_create_start{
            margin-top:10px;
            font-size: 2rem;
        }
    }
}

/* recent */
.brick-recent-memorial{
    margin-bottom: 10px;
    
    .overlay{
        width:300px;
        height:300px;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display:none;
        margin-top:10px;
    }

    .recent-memorial-detail{
        margin:10px;
    }

    .recent-memorial-detail:hover .overlay{
        display: block;
    }
    
    .overlay_detail{
        opacity:1;
        color:white;
    }

    .public{
        margin-top:4px;
    }

}

/* 서비스 소개 */
.circle-border{
  border: 1px solid #d0d0d0;
  padding:2px;
}

/* copyright */
.copyright {
  font-family: 'Raleway', sans-serif;
    background-color: #2c3e50;
    padding: 25px 0 20px 0;
    margin-top: 0;
}

    .copyright h5 {
        color: #f4f4f4;
    }



