<div ng-include="'app/main/main_mobile.html'"></div>

<div ng-if="!isMobile">
  <div ng-include="'components/navbar/navbar.html'"></div>
      <!-- <video id="intro_video" preload="auto" autoplay="true" loop="loop" muted="true">
         <source type="video/mp4" src="https://s3-ap-northeast-1.amazonaws.com/doresolvideo/intro_video_high.mp4">
         <source type="video/ogg" src="https://s3-ap-northeast-1.amazonaws.com/doresolvideo/intro_video_1.ogg">
            Sorry, your browser does not support HTML5 video.
      </video> -->
      <iframe src="//player.vimeo.com/video/105320016?title=0&byline=0&portrait=0&api=1&loop=true&player_id=intro" width="100%" height="700px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <div id="intro_create_overlay">
        <div class="col-sm-12">
          <h1 class="intro_create_title">추억, 사랑, 기억</h1>
          <h2 class="intro_create_sub_title">도래솔은 <br/> 사랑했지만 이젠 곁에 없는 이들을 추억하기 위한 <br/> <u><strong>온라인 추모</strong></u> 서비스입니다.</h2>
          <br><br>
          <md-button md-theme="green" class="md-raised md-primary" ui-sref="memorial_create"><h4><img ng-src="/assets/images/doresol_logo_lightgreen.png" class="logo-image">&nbsp;메모리얼 생성하러 가기</h4></md-button>
        </div>
      </div>
  </div>
  
  <!-- overview -->
  <div ng-include="'app/main/overview.html'"></div>
  <br/>

  <!-- 제작대행 -->
  <!-- <div ng-include="'app/main/album.html'"></div> -->
<!--   <div class="container">
    <div class="block-section">
      <div class="block-title">
        <h2><strong>제작 대행</strong></h2>
      </div>
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" ng-src="/assets/images/album.png" alt="메모리얼 제작 대행">
        </div>
        <div class="col-md-7">
          <div class="jumbotron" style="margin-top:40px;">
            <h2>메모리얼 제작 대행</h2>
            <hr>
            <p> 보관중인 앨범이나 사진을 보내주시면 <b class="text-primary">사이트 제작을 대행</b>해 드립니다.</p>
            <ul style="font-size:20px;">
              <li>집에있는 사진 및 앨범을 보내주세요.</li>
              <li>본인만의 안전한 메모리얼 사이트를 생성해드립니다.</li>
              <li>원하실 경우 USB/DVD에 디지털 파일을 담아 보내드립니다.</li>
            </ul>
            <button type="button" class="btn btn-lg btn-success" ui-sref="agency"><h4><img ng-src="/assets/images/doresol_logo_lightgreen.png" class="logo-image">&nbsp;제작 대행 더 알아보기</h4></button>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div> -->
  <!-- QnA -->
  <!-- <div ng-include="'app/main/qna.html'"></div> -->

  <!-- recent memorials -->
  <div class="container">
    <div class="block-section">
        <div class="block-title">
            <h2><strong>생성된 메모리얼</strong></h2>
        </div>
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search.." ng-model="recent.search">
          </div>
        </div>
        <br/>
        <div masonry item-selector=".brick-memorials" preserve-order>
          <div masonry-brick class="brick-memorials col-md-3 col-sm-6 col-xs-12" ng-repeat="(key, memorial) in recentMemorials | filter:{ name: recent.search }">
            <div class="brick-memorial-wrapper">
              <!-- <div class="ribbon-wrapper"><div class="ribbon-green">NEWS</div></div> -->
              <div class="memorial-img">
                <a ui-sref="memorial.storymap({id:memorial.$id, mode: 'video', isPublic: memorial.public })"><img ng-src="{{memorial.file.url}}" class="img-responsive"/>
                  <div class="overlay">
                     <i class="fa fa-5x fa-play"></i>
                  </div>
                </a>
                <span class="memorial-header">
                  <span class="btn-public">
                    <i ng-if="memorial.public" class="fa fa-2x fa-unlock" tooltip-placement="top" tooltip="공개"></i>
                    <i ng-if="!memorial.public" class="fa fa-2x fa-lock" tooltip-placement="top" tooltip="비공개"></i>
                  </span>
                  <span class="btn-owner">
                    <i ng-if="memorial.ref_user == user.uid" class="fa fa-2x fa-heart" tooltip-placement="top" tooltip="Owner"></i>
                    <i ng-if="memorial.ref_user != user.uid" class="fa fa-2x fa-star" tooltip-placement="top" tooltip="Member"></i>
                  </span>
                </span>
              </div>
              <div class="row text-center">
                <h3><strong>{{memorial.name}}</strong></h3>
              </div>
              <div class="row text-center">
                <div class="col-xs-4">
                  <h3 class="widget-content-light">
                    <a ui-sref="memorial.storymap({id:memorial.$id, mode: 'video', isPublic: memorial.public })"><strong>{{memorial.count_timeline}}</strong><br></a>
                    <small>스토리</small>
                  </h3>
                </div>
                <div class="col-xs-4">
                  <h3 class="widget-content-light">
                    <a ui-sref="memorial.storyline({id:memorial.$id, isPublic: memorial.public })"><strong>{{memorial.count_storyline}}</strong><br></a>
                    <small>방명록</small>
                  </h3>
                </div>
                <div class="col-xs-4">
                  <h3 class="widget-content-light">
                    <a ui-sref="memorial.member({id:memorial.$id, isPublic: memorial.public })"><strong>{{memorial.count_member}}</strong><br></a>
                    <small>멤버</small>
                  </h3>
                </div>
              </div>
            </div>​
          </div>
        </div>
        <br/>
      </div>
  </div>
  
  <div class="row text-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <md-button md-theme="green" class="md-raised md-primary" ui-sref="memorial_create"><h4><img ng-src="/assets/images/doresol_logo_lightgreen.png" class="logo-image">&nbsp;메모리얼 생성하러 가기</h4></md-button>    </div>
    <div class="col-lg-3"></div>
  </div>
  <br>

  <br/>
  <!-- <hr/>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="fb-like" data-href="https://www.facebook.com/doresol.net?ref=hl" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div> -->
  <br/>

  <div ng-include="'components/footer/footer.html'"></div>
</div>

