<br/>
<div class="container overview-wrapper" ng-controller="overviewCtrl">
	<div class="overview-item">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
		    <h1><strong>추억을 정리하고 나누어 보세요.</strong></h1>
		  </div>
	  </div>
	  <br/>
	  
	  <div class="row text-center">
	  	<div class="col-lg-4">
	    	<div class="feature feature-slideshow">
	    		<div class="feature-main">
	    			<img src="assets/images/overview_1.png" class="overview-img feature-image">
	    			<div class="feature-overlay">
	    				<h2 class="feature-name">슬라이드 쇼</h2>
	    				<p class="feature-description">
	    					추억이 담긴 사진들을 업로드 하고 슬라이드 쇼를 감상해 보세요.
	    				</p>
	    				<div class="feature-buttons">
	    					<span class="feature-preview" ng-click="openOverviewModal('video')">&nbsp;미리 보기&nbsp;</span>
	    				</div>
	    			</div>	    			
			    </div>
			    <div class="feature-footer">
				    <span class="feature-label">슬라이드쇼</span>
						<i class="fa fa-video-camera" style="float:right;"></i>
					</div>
		    </div>
	   </div>
	   <div class="col-lg-4">
	    	<div class="feature feature-timeline">
	    		<div class="feature-main">
	    			<img src="assets/images/overview_2.png" class="overview-img feature-image">
	    			<div class="feature-overlay">
	    				<h2 class="feature-name">타임라인</h2>
	    				<p class="feature-description">
								시간의 흐름으로 추억을 되짚어 보는건 어떨까요?	</p>
	    				<div class="feature-buttons">
	    					<span class="feature-preview" ng-click="openOverviewModal('timeline')">&nbsp;미리 보기&nbsp;</span>
	    				</div>
	    			</div>	    			
			    </div>
			    <div class="feature-footer">
				    <span class="feature-label">타임라인</span>
						<i class="fa fa-clock-o" style="float:right;"></i>
			    </div>
		    </div>
	   </div>

	   <div class="col-lg-4">
	    	<div class="feature feature-storymap">
	    		<div class="feature-main">
	    			<img src="assets/images/overview_3.png" class="overview-img feature-image">
	    			<div class="feature-overlay">
	    				<h2 class="feature-name">스토리맵</h2>
	    				<p class="feature-description">
								추억의 장소를 따라가 보세요.</p>
	    				<div class="feature-buttons">
	    					<span class="feature-preview" ng-click="openOverviewModal('storymap')">&nbsp;미리 보기&nbsp;</span>
	    				</div>
	    			</div>	    			
			    </div>
			    <div class="feature-footer">
				    <span class="feature-label">스토리맵</span>
						<i class="fa fa-map-marker" style="float:right;"></i>
			    </div>
		    </div>
	   </div>
 	 </div>
 	 <br>
 	 <div class="container">
	   <div class="block-section">
	      <div class="block-title">
	          <h2><strong>서비스 소개</strong></h2>
	      </div>
	     <div class="panel">
			 	 <div class="row text-center">
			 	 		<div class="col-lg-3"></div>
					  <div class="col-lg-6 interview-wrapper">
				    	<img src="assets/images/overview_4.png" class="img-responsive"
				    		ng-click="openOverviewModal('interview')">
				    	<div class="text-center"><h3>도래솔 서비스 소개 인터뷰</h3></div>
				      <div class="overlay text-center">
			        	<div class="overlay_detail">
			        	<i class="fa fa-5x fa-play" ng-click="openOverviewModal('interview')"></i>
       				 	</div>
        			</div>
				      </div>
				    </div>
			 			<div class="col-lg-3"></div>
			 	 </div>
			 	</div>
		 </div>
		</div>
	</div>
<br/>