<br/>
<div class="container overview-wrapper" ng-controller="overviewCtrl">
	<div class="overview-item">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
		    <h1><strong>그 분을 추억해 보세요</strong></h1>
		  </div>
	  </div>
	  <br/>
	  <div class="row text-center">
	    <div class="col-lg-3">
    		<img src="http://static.goal.com/302200/302211_heroa.jpg" class="img-responsive overview-img">
	    	<h4>도래솔의 탄생배경</h4>
	      <p>도래솔은 어떻게 해서 탄생하게 되었을까요? 도래솔이 어떤 의미의 서비스인지, 탄생하게 된 배경은 무엇인지, 그리고 앞으로 나아가야 할 방향은 어디인지에 대해서 도래솔을 만드신 김영민님의 인터뷰를 감상해 보세요.</p>
	      <button type="button" class="btn btn-block btn-primary">보기</button>
	    </div>

	    <div class="col-lg-3">
	    	<img src="http://static.goal.com/302200/302211_heroa.jpg" class="img-responsive overview-img"
	    		ng-click="openOverviewModal('video')">
	    	<h4>슬라이드 쇼</h4>
	      <p>도래솔은 어떻게 해서 탄생하게 되었을까요? 도래솔이 어떤 의미의 서비스인지, 탄생하게 된 배경은 무엇인지, 그리고 앞으로 나아가야 할 방향은 어디인지에 대해서 도래솔을 만드신 김영민님의 인터뷰를 감상해 보세요.</p>
	      <button type="button" class="btn btn-block btn-primary">보기</button>
	   </div>

	    <div class="col-lg-3">
	    	<img src="http://static.goal.com/302200/302211_heroa.jpg" class="img-responsive overview-img"
	    		ng-click="openOverviewModal('timeline')">
	    	<h4>도래솔의 탄생배경</h4>
	      <p>도래솔은 어떻게 해서 탄생하게 되었을까요? 도래솔이 어떤 의미의 서비스인지, 탄생하게 된 배경은 무엇인지, 그리고 앞으로 나아가야 할 방향은 어디인지에 대해서 도래솔을 만드신 김영민님의 인터뷰를 감상해 보세요.</p>
	      <button type="button" class="btn btn-block btn-primary">보기</button>
	    </div>

	    <div class="col-lg-3">
	    	<img src="http://static.goal.com/302200/302211_heroa.jpg" class="img-responsive overview-img"
	    		ng-click="openOverviewModal('storymap')">
	    	<h4>도래솔의 탄생배경</h4>
	      <p>도래솔은 어떻게 해서 탄생하게 되었을까요? 도래솔이 어떤 의미의 서비스인지, 탄생하게 된 배경은 무엇인지, 그리고 앞으로 나아가야 할 방향은 어디인지에 대해서 도래솔을 만드신 김영민님의 인터뷰를 감상해 보세요.</p>
	      <button type="button" class="btn btn-block btn-primary">보기</button>
	    </div>
 	 </div>
</div>
<br/>