<div class="col-sm-8">
	<ul class="storyline media-list">
	  <li class="storyline-story media" ng-repeat="story in storiesObject">
	      <div class="story-avatar">
          <img ng-src="{{users[story.ref_user].profile.image}}" style="width:64px;height:64px;"/>
        </div>

	      <div class="media-body">
	      		<!-- author -->
	          <p>
              <span class="text-muted pull-right">
                <small>{{story.fromNow}}</small>
                <span class="text-danger"><i class="fa fa-globe" popover="From Web" popover-trigger="mouseenter" popover-placement="right" ></i></span>
              </span>
              <strong class="story-user-id">{{users[story.ref_user].profile.name}}</strong>
	          </p>
	          
	          <!-- headline, text -->
	          <div class="story-show">
							<div ng-if="story.ref_user == currentUser.uid">
								<h3><strong><input type="text" ng-model="story.headline" placeholder="제목을 입력하세요.." /></strong></h3>
		          	<p><textarea class="form-control" ng-model="story.text" placeholder="설명을 입력하세요.." rows="5" style="resize: vertical;"/></p>
							</div>
						</div>
						<div ng-if="story.ref_user != currentUser.uid">
							<h3><strong>{{story.headline}}</strong></h3>
	          	<p>{{story.text}}</p>
						</div>

						<!-- file display -->
	          <p>
	          	<div ng-show="story.file.type == 'image'">
          			<img ng-src="{{story.file.url}}" class="storyline-img"> 
        			</div>
        			<!-- TODO: VIDEO -->
        		</p>

	          <!-- comments -->
            <div ng-include="'app/memorial/comment/comment.html'"></div>
	      </div>
	  </li>
    <li class="storyline-story media text-center">
      <button class="btn btn-xs btn-default push" ng-click="fetchMoreStories()">MORE</button>
    </li>
	</ul>
</div>