<div scroll="auto" style="overflow-x:hidden;height:500px">
	<!-- headline -->
	<div class="story-show">
		<h2><input type="text" ng-model="story.headline" placeholder="제목을 입력하세요.." /></h2>
		<p><input type="textarea" ng-model="story.text" placeholder="설명을 입력하세요.." /></p>
	</div>
	<!-- text -->

	<!-- comment -->
	<div ng-repeat="comment in commentsObject" class="text-left">
		<img ng-src="{{users[comment.ref_user].profile.image}}"/>
		{{users[comment.ref_user].profile.name}}
		{{comment.body}}
	</div>
	<form name="commentForm" ng-submit="addComment(comment)" novalidate>
		<img src="assets/images/user_32.png"/> 
		<input type="text" placeholder="댓글을 입력하세요.." ng-model="comment.body">
  </form>
</div>
