<div scroll="auto" style="overflow-x:hidden;height:500px">
	<!-- headline -->
	<div class="story-show">
		<div ng-if="story.ref_user == currentUser.uid">
			<h2>
				<input type="text" ng-model="story.headline" placeholder="제목을 입력하세요.." />
			</h2>
			<p>
				<input type="textarea" ng-model="story.text" placeholder="설명을 입력하세요.." />
			</p>
		</div>
		<div ng-if="story.ref_user != currentUser.uid">
			<h2>{{story.headline}}</h2>
			<p>{{story.text}}</p>
		</div>
	</div>
	<!-- text -->

	<!-- comment -->
	<div ng-repeat="(commentKey, comment) in commentsObject" class="story-comment text-left">
		<div ng-if="comment.ref_user">
			<img ng-src="{{users[comment.ref_user].profile.image}}"/>
			{{users[comment.ref_user].profile.name}}
		</div>
		<div ng-if="comment.ref_user == currentUser.uid">
			<i class="fa fa-times-circle text-danger" ng-click="deleteComment(story.$id, commentKey)" />
			<input type="textarea" ng-model="comment.body"/>
		</div>
		<div ng-if="comment.ref_user != currentUser.uid">
			{{comment.body}}
		</div>
	</div>
	<form name="commentForm" ng-submit="addComment(comment)" novalidate>
		<img src="assets/images/user_32.png"/> 
		<input type="text" placeholder="댓글을 입력하세요.." ng-model="comment.body">
  </form>
</div>
