
<div flow-init="{
			 singleFile: false,
			 target:'/api/fileuploads', 
			 testChunks: false,
			 generateUniqueIdentifier: getFlowFileUniqueId,
			 simultaneousUploads: 3
		}"
      flow-prevent-drop
      flow-drag-enter="style={border: '5px solid green'}"
      flow-drag-leave="style={}"
		
      flow-files-added="flowFilesAdded($files)"
	  	flow-files-submitted="$flow.upload()"
	 	  

      ng-style="style">

	<!-- <div flow-init="" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope"> -->
		<div ng-hide="temp_created">
		  <div class="drop" flow-drop="" ng-class="dropClass">
		    <span class="btn btn-default" flow-attrs="{accept:['image/*','video/*']}" flow-btn="" >이 버튼을 누르기<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
		    <b>또는</b>
		    사진을 마우스로 여기로 옮겨주세요.
		  </div>
		  <br>

		  <div class="row">
			  <!-- <div ui-sortable="sortableOptions" class="superbox col-sm-12" ng-model="stories"> -->
			  <div ui-sortable="sortableOptions" class="superbox col-sm-12" ng-model="stories">
				  	<div ng-repeat="story in stories" class="superbox-list" story="story" ng-class="{active:$root.superboxToggled == story.$$hashKey}"></div>
	    	</div> <!-- sortable -->

    	</div> <!-- row -->

		</div>
		
		<div ng-show="temp_created">
			<div id="timeline-embed"></div>
		</div>
</div>



