<span ng-if="story.newStory">
	<div ng-show="story.file.type == 'image'">
		<img flow-image="story.file" class="superbox-img" ng-show="loaded"> 
		<!-- <img flow-image="story.file" class="superbox-img"> -->
	</div>
	<div ng-show="story.file.type == 'video'">
		<!-- <video flow-video="story.file" class="superbox-img" ng-show="story.file.isComplete()" controls>  -->
	</div>
	<div class="superbox-spinner" ng-show="!loaded">
		<i class="fa fa-spinner fa-spin fa-4x text-success"></i> 
	</div>
	<div class="story-remove fa fa-times-circle fa-2x text-danger" ng-click="removeStory()">
	</div>
</span>

<span ng-if="!story.newStory">
	<div ng-show="story.file.type == 'image'">
		<img ng-src="{{story.file.url}}" class="superbox-img"> 
		<!-- <img flow-image="story.file" class="superbox-img"> -->
	</div>
	<div class="story-remove fa fa-times-circle fa-2x text-danger" ng-click="removeStory()">
	</div>	
</span>