<div class="superbox-show" style="display: block; color:white">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      
      <div ng-if="story.newStory">
        <div ng-show="story.file.type === 'image'">
          <img flow-image="story.file" class="img-responsive">
        </div>
        <div ng-show="story.file.type == 'video'">
          <video flow-video="story.file" controls>
        </div>
      </div>

      <div ng-if="!story.newStory">
        <div ng-show="story.file.type == 'image'">
          <img ng-src="{{story.file.url}}" class="superbox-img"> 
        </div>  
      </div>    

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="#" editable-text="story.headline"> {{ story.headline || "제목을 입력하세요" }}
      </a>
      <hr/>
      <div>
        <a href="#" editable-textarea="story.text" e-rows="7" e-cols="40" class="optional-text">{{ story.text || "설명이 필요하면 적어주세요" }} </a>
      </div> 
    </div>
  </div>
</div>
