<div class="superbox-show" style="display: block; color:white">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div ng-if="story.type === 'timeline'">
        <div ng-if="story.newStory">
          <div ng-if="story.file.type === 'image'">
            <img flow-image="story.file" class="img-responsive">
          </div>
          <div ng-if="story.file.type == 'video'">
            <video flow-video="story.file" controls style="width:100%;"></video>
          </div>
        </div>

        <div ng-if="!story.newStory">
          <div ng-if="story.file.type == 'image'">
            <img ng-src="{{story.file.url}}" class="img-responsive"> 
          </div>  
          <div ng-if="story.file.type == 'video'">
            <video controls class="superbox-img">
              <source src="{{story.file.url}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>    
      </div>
      <div ng-if="story.type === 'storymap'">
        map edit here
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div ng-if="story.type === 'timeline'">
        <input type="text" ng-model="story.headline" placeholder="제목을 입력하세요"/> 
        <hr/>
        <textarea class="form-control" ng-model="story.text" placeholder="설명이 필요하면 적어주세요"  rows="5" style="resize: vertical;"/>
      </div>
      <div ng-if="story.type === 'storymap'">
        <input type="text" ng-model="story.text.headline" placeholder="제목을 입력하세요"/> 
        <hr/>
        <textarea class="form-control" ng-model="story.text.text" placeholder="설명이 필요하면 적어주세요"  rows="5" style="resize: vertical;"/>
      </div>
    </div>
  </div>
</div>
