
<div flow-init="{
			 singleFile: false,
			 target:'/api/fileuploads', 
			 testChunks: false,
			 generateUniqueIdentifier: getFlowFileUniqueId
		}"
      flow-prevent-drop
      flow-drag-enter="style={border: '5px solid green'}"
      flow-drag-leave="style={}"
		
      flow-file-added="flowFileAdded($file)"
	  flow-files-submitted="$flow.upload()"
	  ng-controller="TimelineCtrl"

      ng-style="style">

	<!-- <div flow-init="" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope"> -->
	  <div class="drop" flow-drop="" ng-class="dropClass">
	    <span class="btn btn-default" flow-btn="">이 버튼을 누르기<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
	    <b>또는</b>
	    사진을 마우스로 여기로 옮겨주세요.
	  </div>

	  <br>

	  <div>
	  	<form name="timelineForm" ng-submit="createTimeline(timelineForm,$flow)" novalidate>
		    <div ng-repeat="story in stories" class="gallery-box ng-scope">
		      <span class="title ng-binding">{{story.file.name}}</span>
		      <div class="thumbnail" ng-show="stories.length">
					<img flow-img="story.file">
			      <div class="progress progress-striped" ng-class="{active: story.file.isUploading()}">
			        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (story.file.progress() * 100) + &#39;%&#39;}" style="width: 100%;">
			          <span class="sr-only ng-binding">1% Complete</span>
			        </div>
			      </div>
			      <div class="btn-group">
			        <!-- <a class="btn btn-xs btn-danger" ng-click="story.file.cancel()"> -->
			        <a class="btn btn-xs btn-danger" ng-click="flowFileDeleted(story)">
			          Remove
			        </a>
			      </div>
			    </div><!-- end ngRepeat: file in $flow.files -->
			    <div class="clear"></div>


			    <!-- custom input -->
			    <input type="text" class="form-control" name="sjang_filename" ng-required="true" ng-model="story.title"/>

			  </div>
			  <button type="submit" class="btn btn-default" ng-disabled="timelineForm.$invalid">등록</button>
		</form>

	</div>

</div>