<!-- timeline edit -->
<div class="row" ng-show="editMode">
	<div class="col-xs-3" >
	  <slot-list></slot-list>
	</div>
	<br/>
	<br/>
	<div class="col-xs-9">
		<story-list></story-list>
	</div>
  <button class="btn btn-info btn-lg btn-block">
		<div ng-click="uploadTimelineStory()">일대기 보기</div>
	</button>	
</div>

<div class="row" ng-show="!editMode">
	<button class="btn btn-info btn-lg btn-block">
		<div ng-disabled="!memorial.timeline.stories" ng-click="toggleEditMode()" >설정 모드</div>
	</button>
	<div id='timeline-view'></div>
	<div id="timeline-embed"></div>
</div>