<div class="row" ng-show="mode=='setting'">
	<div class="block">
	  <div class="block-title">
	      <h2>설정하기</h2>
	      <div class="block-options pull-right">
			     <span ng-if="currentUser.uid == memorial.ref_user" ng-disabled="isChanged" ng-click="changeMode('video')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="슬라이드쇼">
				     <i class="fa fa-video-camera"></i> 슬라이드
  				 </span>
		       <span ng-if="currentUser.uid == memorial.ref_user" ng-disabled="isChanged" ng-click="changeMode('timeline')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="시간 기준으로 보기">
		      	<i class="fa fa-clock-o"></i> 시간순 보기
		      </span>
		      <span ng-if="currentUser.uid == memorial.ref_user" ng-disabled="isChanged" ng-click="changeMode('storymap')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="장소 기준으로 보기">
		      	<i class="fa fa-map-marker"></i> 장소기준 보기
		      </span>
		    </div>
	  </div>
	  <div class="block-content">
	  	<div ng-include="'app/memorial/storymap/story_upload.html'"></div>
	  </div>
	</div>
	
</div>

<div class="row" ng-show="mode=='storymap'">
	<div class="block">
	  <div class="block-title">
	      <h2>장소기준 보기</h2>
	      <div class="block-options pull-right">
					<span ng-disabled="isChanged" ng-click="changeMode('video')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="슬라이드">
		      	<i class="fa fa-video-camera"></i> 슬라이드쇼
		      </span>	      	
	      	<span ng-disabled="isChanged" ng-click="changeMode('timeline')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="시간 기준으로 보기">
		      	<i class="fa fa-clock-o"></i> 시간순 보기
		      </span>
		      <span ng-if="currentUser.uid == memorial.ref_user" ng-click="changeMode('setting')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="설정">
		      	<i class="fa fa-cog"></i> 설정하기
		      </span>
		    </div>
	  </div>
	  <div class="block-content">
	  	<div id="mapdiv" style="width: 100%; height: 600px;">
	  		<div>
		      <div class="alert alert-success">
		       <h4><i class="fa fa-check-circle"></i> 아직 생성되지 않았습니다.</h4>
		      </div>
		    </div>
	  	</div>
	  </div>
	</div>
</div>

<div class="row" ng-show="mode=='timeline'">
	<div class="block">
	  <div class="block-title">
	      <h2>시간순 보기</h2>
	      <div class="block-options pull-right">
	      	<span ng-disabled="isChanged" ng-click="changeMode('video')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="슬라이드">
		      	<i class="fa fa-video-camera"></i> 슬라이드쇼
		      </span>
	      	<span ng-disabled="isChanged" ng-click="changeMode('storymap')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="장소 기준으로 보기">
		      	<i class="fa fa-map-marker"></i> 장소기준 보기
		      </span>
		      <span ng-if="currentUser.uid == memorial.ref_user" ng-click="changeMode('setting')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="설정">
		      	<i class="fa fa-cog"></i> 설정하기
		      </span>
		    </div>
	  </div>
	  <div class="block-content">
	  	<div id="timeline-embed" timeline-embed>
	  		<div>
		      <div class="alert alert-success">
		       <h4><i class="fa fa-check-circle"></i> 아직 생성되지 않았습니다.</h4>
		      </div>
		    </div>
	  	</div>
	  </div>
	</div>
</div>

<div class="row" ng-show="mode=='video'">
	<div class="block">
	  <div class="block-title">
	      <h2>슬라이드쇼
					<i ng-if="!videoPlaying&&storiesArray['timeline'].length>0" class="fa fa-play-circle-o text-success" ng-click="changeMode('video')" tooltip-placement="top" tooltip="슬라이드쇼 재생"></i>
					<i ng-if="videoPlaying&&storiesArray['timeline'].length>0" class="fa fa-picture-o text-success" ng-click="changeToGalleryMode()" tooltip-placement="top" tooltip="갤러리"></i>
				</h2>
	      <div class="block-options pull-right">
	      	<span ng-disabled="isChanged" ng-click="changeMode('video')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="동영상으로 보기">
		      	<i class="fa fa-video-camera"></i> 슬라이드쇼
		      </span>
		      <span ng-disabled="isChanged" ng-click="changeMode('timeline')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="시간 기준으로 보기">
		      	<i class="fa fa-clock-o"></i> 시간순 보기
		      </span>
		      <span ng-disabled="isChanged" ng-click="changeMode('storymap')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="장소 기준으로 보기">
		      	<i class="fa fa-map-marker"></i> 장소기준 보기
		      </span>
		      <span ng-if="currentUser.uid == memorial.ref_user" ng-click="changeMode('setting')" class="btn btn-sm btn-success" tooltip-placement="top" tooltip="설정">
		      	<i class="fa fa-cog"></i> 설정하기
		      </span>
		    </div>
	  </div>
	  <div class="block-content">
	  	<div ng-if="storiesArray['timeline'].length==0">
	      <div class="alert alert-success">
	       <h4><i class="fa fa-check-circle"></i> 아직 생성되지 않았습니다.</h4>
	      </div>
	    </div>
	  	<div class="slidegroup" ng-if="videoPlaying">
	  		<div id="slide{{index}}" class="slideshow" ng-repeat="(index, items) in slides">
	  			<img class="{{item.class}}" ng-src="{{item.src}}" ng-repeat="item in items">
	  		</div>
        <div class="overlay text-center">
        	<div class="overlay_detail">
        		<i ng-if="!isShowing" class="fa fa-5x fa-play" ng-click="play()"></i>
        		<i ng-if="isShowing"class="fa fa-5x fa-pause" ng-click="pause()"></i>
        	</div>
        </div>
	  	</div>
			<div masonry item-selector=".brick-stories" preserve-order ng-if="!videoPlaying">
		  	<div masonry-brick class="brick-stories col-md-3 col-sm-6 col-xs-12" ng-repeat="(key, story) in galleryObject" ng-click="openImageModal(story)">
		  		<img ng-src="{{story.file.url}}" class="img-responsive"/>
		  	</div>
		 	</div>
  	</div>
	</div>
</div>


<!-- <div ng-show="!editMode">
	<div id="mapdiv" style="width: 100%; height: 600px;">아직 생성되지 않았습니다.</div>
</div> -->