<!-- <div id="mapdiv" style="width: 100%; height: 600px;"></div> -->
<div class="row" ng-show="editMode">
	<div class="block">
	  <div class="block-title">
	      <h2>설정 모드</h2>
	      <div class="block-options pull-right">
		      <span ng-if="currentUser.uid == memorial.ref_user" ng-disabled="isChanged" ng-click="waitStoryLoaded()" class="btn btn-alt btn-sm btn-default" tooltip-placement="top" tooltip="보기">
		      	<i class="fa fa-play"></i>
		      </span>
		    </div>
	  </div>
	  <div class="block-content">
	  	<div ng-include="'app/memorial/storymap/story_upload.html'"></div>
	  </div>
	</div>
	<button type="button" class="btn btn-block btn-primary btn-alt" ng-show="isChanged" ng-click="uploadStorymapStory()">변경사항 저장</button>
	<br/>
</div>

<div class="row" ng-show="!editMode">
	<div class="block">
	  <div class="block-title">
	      <h2>일대기</h2>
	      <div class="block-options pull-right">
		      <span ng-if="currentUser.uid == memorial.ref_user" ng-click="toggleEditMode()" class="btn btn-alt btn-sm btn-default" tooltip-placement="top" tooltip="설정">
		      	<i class="fa fa-cog"></i>
		      </span>
		    </div>
	  </div>
	  <div class="block-content">
	  	<div id="mapdiv" style="width: 100%; height: 600px;">아직 생성되지 않았습니다.</div>
	  </div>
	</div>
</div>