<div>
	<!-- invite url -->
  <div> 초대하기
  	<i class="fa fa-2x fa-envelope-o"></i>
  	<div class="fa fa-2x">초대하기 URL</div>
  	<input type="text" ng-model="inviteUrl" />
  </div>
   <hr/>
    <div>
      {{currentUser.uid}}
    </div>


  <div> 
    <div class="col-sm-2">
      메모리얼 리더 => id : {{leader.uid}}
      <div class="story-avatar">
        <img ng-src="{{users[leader.uid].profile.image}}" style="width:64px;height:64px;"/>
      </div>
    </div>
  </div>
  <hr/>

	<!-- member list -->
  <div> 
    <div class="col-sm-2" ng-repeat="(uid, member) in members"> 멤버
      id : {{member.uid}}
      <div class="story-avatar">
        <img ng-src="{{users[uid].profile.image}}" style="width:64px;height:64px;"/>
      </div>
      <div ng-if="currentUser.uid == leader.uid">
        <button class="fa fa-2x" ng-click="removeMember(uid)">강제 탈퇴</button>
      </div>
      <div ng-if="currentUser.uid == uid">
        <button class="fa fa-2x" ng-click="removeMember(uid)">탈퇴</button>
      </div>
    </div>
  </div>
<hr/>
 
  <!-- member list -->
  <div> 요청하고 있는 사람
    <div class="col-sm-2" ng-repeat="(uid, waiting) in waitings">
      id : {{waiting.uid}}
      <div class="story-avatar">
        <img ng-src="{{users[uid].profile.image}}" style="width:64px;height:64px;"/>
      </div>
      <div ng-if="currentUser.uid == leader.uid">
        <button class="fa fa-2x" ng-click="moveMember(uid)">승인</button>
      </div>
    </div>
  </div>

</div>