<div flow-init="{
		   singleFile: true, 
			 target:'/api/fileuploads', 
			 testChunks: false,
			 generateUniqueIdentifier: getFlowFileUniqueId
		 }"
		 flow-file-added="fileUploading=true"
		 flow-files-submitted="$flow.upload()"
		 ng-controller="MemorialCreateCtrl"
		 >

	<div ng-include="'components/navbar/navbar.html'"></div>

	<div class="container contents" flow-prevent-drop>	
		<form name="newMemorialForm" ng-submit="createMemorial(newMemorialForm)" novalidate>
			<div class="form-group">
					<img flow-img="$flow.files[0]" style="width:200px;height:200px;"/>
					<button class="btn btn-success" flow-btn flow-attrs="{accept:'image/*'}">파일</button>
			</div>
		  <div class="form-group">
		    <label for="name">이름</label>
		    <input type="text" class="form-control" name="name" placeholder="이름을 입력하세요" ng-model="newMemorial.name" ng-required="true">
		  </div>
		  <div class="alert alert-danger" role="alert"
		  		 ng-show="newMemorialForm.name.$dirty && newMemorialForm.name.$invalid">
		  		 <span ng-show="newMemorialForm.name.$error.required">이름을 입력해 주세요.</span>
		  </div>

		  	<p class="input-group">
			    <input type="text" class="form-control" name="dateOfBirth" placeholder="태어나신 날을 입력하세요" 
			    is-open="dateOfBirth_opened" datepicker-popup="yyyy-MM-dd" max-date="today"
			    ng-required="true" ng-model="newMemorial.dateOfBirth"/>
	        <span class="input-group-btn">
	          <button type="button" class="btn btn-default" ng-click="openDatepicker($event,'dateOfBirth_opened')"><i class="glyphicon glyphicon-calendar"></i></button>
	        </span>
	      </p>
	      <div class="alert alert-danger" role="alert"
		  		 ng-show="newMemorialForm.dateOfBirth.$dirty && newMemorialForm.dateOfBirth.$invalid">
		  		 <span ng-show="!newMemorialForm.dateOfBirth.$error.date&&newMemorialForm.dateOfBirth.$error.required">태어나신 날을 입력해 주세요.</span>
		  		 <span ng-show="newMemorialForm.dateOfBirth.$error.date">정확한 날짜 형식이 아닙니다.</span>
		  	</div>

	      <p class="input-group">
			    <input type="text" class="form-control" name="dateOfDeath" placeholder="돌아가신 날을 입력하세요" 
			    is-open="dateOfDeath_opened" datepicker-popup="yyyy-MM-dd" min-date="newMemorial.dateOfBirth" max-date="today"
			    ng-required="true" ng-model="newMemorial.dateOfDeath"/>
	        <span class="input-group-btn">
	          <button type="button" class="btn btn-default" ng-click="openDatepicker($event,'dateOfDeath_opened')"><i class="glyphicon glyphicon-calendar"></i></button>
	        </span>
	      </p>
	      <div class="alert alert-danger" role="alert"
		  		 ng-show="newMemorialForm.dateOfDeath.$dirty && newMemorialForm.dateOfDeath.$invalid">
		  		 <span ng-show="!newMemorialForm.dateOfDeath.$error.date&&newMemorialForm.dateOfDeath.$error.required">돌아가신 날을 입력해 주세요.</span>
		  		 <span ng-show="newMemorialForm.dateOfDeath.$error.date">정확한 날짜 형식이 아닙니다.</span>
		  	</div>

		  	<div class="alert alert-danger" role="alert"
		  		 ng-show="newMemorialForm.name.$valid && newMemorialForm.dateOfBirth.$valid &&  newMemorialForm.dateOfDeath.$valid && newMemorialForm.$valid == false">		  		 
		  		 <span>기간 설정이 잘못되었습니다.</span>
		  	</div>
		  	<button type="submit" class="btn btn-default" ng-disabled="fileUploading||newMemorialForm.$invalid">등록</button>		  	
		</form>
	</div>

</div>	
