<div flow-init="{
		   singleFile: true, 
			 target:'/api/fileuploads', 
			 testChunks: false,
			 generateUniqueIdentifier: getFlowFileUniqueId
		 }"
		 flow-file-added="fileUploading=true"
		 flow-files-submitted="$flow.upload()"
		 ng-controller="MemorialCreateCtrl">

	<div ng-include="'components/navbar/navbar.html'"></div>

	<div class="container contents" flow-prevent-drop>	
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="well">
				<form name="newMemorialForm" ng-submit="createMemorial(newMemorialForm)" novalidate>
					<div class="form-group text-center">
							<img flow-img="$flow.files[0]" style="width:300px;height:300px;"/>
							<div class="upload-btn">
								<button type="button" class="btn btn-lg btn-primary" flow-btn flow-attrs="{accept:'image/*'}">
									<span ng-if="$flow.files[0]">사진 변경</span>
									<span ng-if="!$flow.files[0]">사진 첨부</span>
								</button>
							</div>		
					</div>
					<div class="input-group">
              <span class="input-group-addon">이름</span>
              <input type="text" class="form-control" name="name" placeholder="이름을 입력하세요" ng-model="newMemorial.name" ng-required="true">
          </div>
				  <div class="alert alert-danger" role="alert"
				  		 ng-show="newMemorialForm.name.$dirty && newMemorialForm.name.$invalid">
				  		 <span ng-show="newMemorialForm.name.$error.required">이름을 입력해 주세요.</span>
				  </div>
				  <br/>

			  	<div class="input-group">
              <span class="input-group-addon">태어나신 날짜</span>
              <input type="text" class="form-control" name="dateOfBirth" placeholder="태어나신 날을 입력하세요" 
					    is-open="dateOfBirthOpened" datepicker-popup="yyyy-MM-dd" max-date="today"
					    ng-required="true" ng-model="newMemorial.dateOfBirth"/>
			        <span class="input-group-btn">
			          <button type="button" class="btn btn-default" ng-click="openDatepicker($event,'dateOfBirthOpened')"><i class="glyphicon glyphicon-calendar text-success"></i></button>
			        </span>
          </div>
		      <div class="alert alert-danger" role="alert"
			  		 ng-show="newMemorialForm.dateOfBirth.$dirty && newMemorialForm.dateOfBirth.$invalid">
			  		 <span ng-show="!newMemorialForm.dateOfBirth.$error.date&&newMemorialForm.dateOfBirth.$error.required">태어나신 날을 입력해 주세요.</span>
			  		 <span ng-show="newMemorialForm.dateOfBirth.$error.date">정확한 날짜 형식이 아닙니다.</span>
			  	</div>
			  	<br/>

			  	<div class="input-group">
              <span class="input-group-addon">돌아가신 날짜</span>
              <input type="text" class="form-control" name="dateOfDeath" placeholder="돌아가신 날을 입력하세요" 
					    is-open="dateOfDeathOpened" datepicker-popup="yyyy-MM-dd" min-date="newMemorial.dateOfBirth" max-date="today"
					    ng-required="true" ng-model="newMemorial.dateOfDeath"/>
			        <span class="input-group-btn">
			          <button type="button" class="btn btn-default" ng-click="openDatepicker($event,'dateOfDeathOpened')"><i class="glyphicon glyphicon-calendar text-success"></i></button>
			        </span>
          </div>
		      <div class="alert alert-danger" role="alert"
			  		 ng-show="newMemorialForm.dateOfDeath.$dirty && newMemorialForm.dateOfDeath.$invalid">
			  		 <span ng-show="!newMemorialForm.dateOfDeath.$error.date&&newMemorialForm.dateOfDeath.$error.required">돌아가신 날을 입력해 주세요.</span>
			  		 <span ng-show="newMemorialForm.dateOfDeath.$error.date">정확한 날짜 형식이 아닙니다.</span>
			  	</div>

			  	<div class="alert alert-danger" role="alert"
			  		 ng-show="newMemorialForm.name.$valid && newMemorialForm.dateOfBirth.$valid &&  newMemorialForm.dateOfDeath.$valid && newMemorialForm.$valid == false">		  		 
			  		 <span>기간 설정이 잘못되었습니다.</span>
			  	</div>
			  	<br/>
			  	
			  	<div class="form-group">
            <label class="public-label">공개</label>
            <label class="switch switch-primary" for="val_public">
              <input type="checkbox" id="val_public" name="val_public" ng-model="newMemorial.public">
              <span tooltip-placement="bottom" tooltip="공개 설정"></span>
            </label>
          </div> 
			  	<br/>

			  	<button type="submit" class="btn btn-alt btn-success pull-right" ng-disabled="fileUploading||newMemorialForm.$invalid">등록</button>		  
			  	<br/>
				</form>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>

</div>	
